#localization {
    width: 26.75rem;
    text-align: center;
    padding-top: 2.37rem;
    margin: 0 auto;
}


#localization h3{
    color: rgba(29, 6, 5, 0.90);
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
    text-transform: uppercase;
}

#localization p{
    color: rgba(29, 6, 5, 0.69);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
}
#localization .map{
    width: 26.75rem;
    height: 12.95488rem;
    flex-shrink: 0;
}

@media (min-width: 1024px){
    #localization h3{
        font-size: 2rem;
        line-height: 2.2rem;
    }
    #localization .ploc{
        padding-bottom: 2rem;
    }
    #localization .map{
        position: absolute;
        left: 0;
        width: 120.09363rem;
        height: 12.95488rem;
    }
}

