#service{
    width: 26.73rem;
    padding: 3.04rem 1.62rem 4rem 1.5rem;
    text-align: start;
    margin: 0 auto;
}

#service .girl{
    background-image: url("./../../assets/images/card-woman-eating.png");
    background-size: cover;
    height: 18.88rem;
}

#service h2{
    color: rgba(29, 6, 5, 0.90);
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: .52rem;
}

#service h2 span{
    background-color: #F59A1B;
    border-radius: 5px;
}

#service p{
    color: rgba(29, 6, 5, 0.69);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
    padding-bottom: .52rem;
}

#service button{
    border-style: none;
    display: inline-flex;
    padding: 0.65194rem 1.30381rem;
    align-items: center;
    gap: 0.81488rem;
    border-radius: 0.32594rem;
    background:#F43127;

    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4rem;
    transition: .1s;
    cursor: pointer;
}


#service button:hover{
    background:#f1271c;
    scale: 1.005;
}

@media (min-width: 1024px) {
    #service{
        padding-top: 39.5rem;
        width: 73.125rem;
        display: grid;
        grid-template-columns: 35rem 35rem;
        align-items: center;
        justify-content: center;
    }

    #service .girl{
        background-image: url("./../../assets/images/card-woman-eating.png");
        background-size: auto;
        background-repeat: no-repeat;
        height: 28.48138rem;
        margin-right: -1rem;
    }

    #service .atendimento{
        padding: 11rem 4rem 3.4rem 2rem;
    }

    #service .atendimento h2{
        padding-bottom: .61rem;
        font-size: 2.60769rem;
        line-height: 2.86844rem;
    }

    #service .atendimento p{
        padding-bottom: 1.28rem;
        font-size: 1.30381rem;
        line-height: 1.82538rem;
    }

    #service button{
        font-size: 1.46681rem;
        line-height: 2.05356rem;
    }
}