#start .img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: max-content;
    height: max-content;
    background-size: cover;
    z-index: -1;
}

#start h3{
    color: rgba(29, 6, 5, 0.9);
    font-weight: 700;
    font-size: 1.12rem;
    line-height: 2rem;
}

#start h1{
    font-size: 3.33rem;
    line-height: 3.66rem;
    font-weight: 400;
    color: rgba(59, 32, 11, 1);
}

#start h1 span{
    color: #F59A1B;
}

.grupo{
    padding: 6.31rem 5.13rem 36.68rem 1.5rem;
    width: max-content;
    margin: 0 auto;
}

#start .grupo p{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(29, 6, 5, 0.69);
    margin-bottom: 1rem;
}

#start .grupo p span{
    font-weight: 900;
    background-color:rgba(245, 154, 27, 1);
    border-radius: 5px;
    padding: 0 .2rem;
}

#start .grupo button{
    background: #F43127;
    border-radius: 5.0px;
    padding: 0.6rem 1.2rem;
    color: white;
    font-weight: 700;
    line-height: 1.3rem;
    border-style: none;
    cursor: pointer;
    transition: .2s;
}

#start .grupo button:hover{
    opacity: .9;
}

.todo{
    height: 6.72rem;
    width: 22.22rem;
    display: flex;
    padding: 1.28rem;
}

.qualifications{
    position: absolute;
    top: 46.75rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: white;
    height: 20.18rem;
    width: 22.22rem;
    border-radius: 10px;
    padding: 0.34rem .98rem;
}

.qualifications .todo .icon{
    padding-right: 1.125rem;
}

.qualifications .todo h2{
    color: #1D0605E5;
    font-weight: 400;
    opacity: 80%;
}

.qualifications .todo p{
    font-weight: 400;
    opacity: 60%;
    line-height: 1.2rem;
    font-size: 1rem;
}

.qualification .todo .underline::after{
    content:"";
    height: 1px;
    width: 18.3rem;
    background-color: #492e1525;
    
}

@media (min-width: 1024px) {
    #start{
        height: max-content;
    }
    #start .ig{
        object-fit: cover;
    }
    .qualifications{
        top: 30.89rem;
        display: flex;
        width: 60.62rem;
        height: 7.41rem;
    }
    .grupo{
        padding: 11.1rem 5.13rem 16.24rem 1.5rem;
        max-width: 1175px;
        width: 100%;
    }
    #start h3{
        font-size: 1.42rem;
        line-height: 1.42rem;
    }

    #start h1{
        font-size: 4.85rem;
        line-height: 5.33rem;
        font-weight: 400;
        color: rgba(59, 32, 11, 1);
        text-transform: uppercase;
    }

    #start .grupo p{
        font-size: 1.42rem;
        font-weight: 400;
        margin-bottom: 1rem;
        line-height: 2rem;
    }

    #start .grupo button{
        border-radius: .31rem;
        font-weight: 700;
        line-height: 2rem;
        font-size: 1.42rem;
    }
    
    #start .grupo button:hover{
        opacity: .9;
    }
    .qualifications .todo h2{
        color: rgba(29, 6, 5, 0.90);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.375rem; /* 110% */
        text-transform: uppercase;
    }
}