#menu{
    padding: 17.48rem 1.57rem 0 1.57rem;
    width: 26.75rem;
    margin: 0 auto;
}

#menu h2{
    font-size: 1.56rem;
    line-height: 1.71rem;
}

#menu h2, #menu h3{
    text-transform: uppercase;
}

#menu p{
    font-size: 1rem;
    line-height: 1.4rem;
    padding: .5rem 0;
}

#menu .lanche{
    position: relative;
    padding-top: .5rem;
}

#menu :nth-child(3){
    color: white;
}

#menu .lanche .left-title{
    position: absolute;
    top: 1.4rem;
    left: 1.27rem;
}

#menu .lanche .left-title h3{
    margin-bottom: -10px;
    text-transform: uppercase;
    font-size: 1.28rem;
    line-height: 1.40rem;
}

#menu .lanche .left-title p{
    font-weight: 300;
}

#menu .lanche .right-title{
    position: absolute;
    bottom: 15px;
    right: 1.27rem;
}

#menu .lanche .right-title p{
    font-size: 0.68rem;
    line-height: .75rem;
    font-weight: 200;
    
}

#menu .lanche .right-title p strong{
    text-transform: uppercase;
    font-size: 1.24rem;
    line-height: .81rem;
}

@media (min-width: 1024px) {
    #menu{
        padding: 2rem 0 0 0;
        margin: 0;
    }
    #menu .lanches{
        display: grid;
    }
}
