#offers{
    padding: 17.48rem 1.57rem 0 1.57rem;
    width: 26.75rem;
    margin: 0 auto;
}

#offers h2{
    color: rgba(29, 6, 5, 0.90);
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71875rem;
}

#offers h2, #offers h3{
    text-transform: uppercase;
}

#offers p{
    color: rgba(29, 6, 5, 0.69);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
    padding-bottom: 1rem;
}

#offers .lanche{
    position: relative;
    padding-top: .5rem;
}

#offers :nth-child(3){
    color: white;
}

#offers .lanche .left-title{
    position: absolute;
    top: 1.4rem;
    left: 1.27rem;
}

#offers .lanche .img-lanche{
    background-image: url("./../../assets/images/burguer.png");
    width: 380px;
    height: 213px;
}

#offers .lanche .img-lanche2{
    padding-bottom: .5rem;
}

#offers .lanche .img-lanche3 .left-title{
    position: absolute;
    top: 15rem;
    left: 1.27rem;
}

#offers .lanche  .left-title h3{
    color: rgba(255, 255, 255, 0.90);
    font-size: 1.2805rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4085rem;
}

#offers .lanche .left-title p{
    color: rgba(255, 255, 255, 0.69);
    font-size: 1.15244rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.61338rem;
}

#offers .lanche .img-lanche2 .left-title h3,
#offers .lanche .img-lanche2 .left-title p,
#offers .lanche .img-lanche3 .left-title h3,
#offers .lanche .img-lanche3 .left-title p{
    color: rgba(29, 6, 5, 0.90);
}

#offers .lanche .right-title{
    position: absolute;
    bottom: 15px;
    right: 1.27rem;
}

#offers .lanche .right-title p{
    color: rgba(255, 255, 255, 0.69);
    font-size: 0.682rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.74725rem;
}

#offers .lanche .right-title p strong{
    color: rgba(255, 255, 255, 0.90);
    font-size: 1.24538rem;
    line-height: 0.81544rem;
    text-transform: uppercase;
}

@media (min-width: 1024px) {
    #offers{
        padding: 2rem 0 0 0;
        width: 71.3rem;
        margin: 0 auto;
    }

    #offers h2{
        font-size: 2rem;
        line-height: 2.2rem;
    }
    
    #offers p{
        font-size: 1rem;
        line-height: 1.4rem;
    }

    #offers .lanche  .left-title h3{
        font-size: 1.5625rem;
        line-height: 1.71875rem;
    }
    
    #offers .lanche .left-title p{
        font-size: 1.125rem;
        line-height: 1.575rem;
    }

    #offers .lanche .right-title p{
        font-size: 1.4375rem;
        line-height: 1.575rem;
        padding-right: 1rem;
    }
    
    #offers .lanche .right-title p strong{
        font-size: 2.625rem;
        line-height: 1.71875rem;
    }

    #offers .lanches{
        display: grid;
        grid-template-columns: 69% 31%; 
        
    }
    #offers .lanches .lanche .img-lanche{
        background-image: url("./../../assets/images/oferta-1.png");
        width: 48.12rem;
        height: 26.87rem;
    }

    #offers .lanche .img-lanche2{
        padding-bottom: 1rem;
    }

    #offers .lanche{
        padding: 0;
    }
    

}
